* {
  font-family: 'Press Start 2P', cursive;
}

body {
  background-color: slategray;
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

canvas {
  image-rendering: pixelated;
}

.game-container {
  position: relative;
  display: inline-block;
  border: 4px solid black;
  user-select: none;
}

.battle-interface {
  display: none;
}

.battle-overlay {
  position: absolute;
  pointer-events: none;
  background-color: black;
  opacity: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.enemy-info-container {
  position: absolute;
  background-color: white;
  top: 25px;
  left: 25px;
  width: 300px;
  border: 2px solid black;
  border-radius: 5px;
  padding: 12px;
}

.health-bar {
  position: relative;
  margin-top: 10px;
  height: 5px;
  background-color: #ccc;
}

.enemy-health-bar-current {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: green;
  width: 100%;
}

.player-health-bar-current {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: green;
  width: 100%;
}

.player-info-container {
  position: absolute;
  background-color: white;
  bottom: 165px;
  right: 25px;
  width: 300px;
  border: 2px solid black;
  border-radius: 5px;
  padding: 12px;
}

.controls-container {
  position: absolute;
  background-color: white;
  height: 140px;
  bottom: 0;
  left: 0;
  right: 0;
  border-top: 4px solid black;
  display: flex;
  justify-content: space-between;
  z-index: 1;
}

.attack-container {
  width: 70%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.attack-container > button {
  border: 0;
  font-size: 16px;
}

.attack-container > button:hover {
  background-color: #ddd;
}

h1 {
  margin: 0;
  font-size: 16px;
}

.attack-info-container {
  width: 30%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-around;
  align-items: center;
  border-left: 4px solid black;
  padding: 12px;
  gap: 12px;
}

.attack-info-header {
  grid-column: 1 / span 2;
}

.info-text-container {
  display: flex;
  justify-content: space-between;
}

.dialogue-box {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  padding: 12px;
}

.normal { 
  color: #A8A77A; 
}

.fire { 
  color: #EE8130; 
}

.water { 
  color: #6390F0; 
}

.electric { 
  color: #F7D02C; 
}

.grass { 
  color: #7AC74C; 
}

.ice { 
  color: #96D9D6; 
}

.fighting { 
  color: #C22E28; 
}

.poison { 
  color: #A33EA1; 
}

.ground { 
  color: #E2BF65; 
}

.flying { 
  color: #A98FF3; 
}

.psychic { 
  color: #F95587; 
}

.bug { 
  color: #A6B91A; 
}

.rock { 
  color: #B6A136; 
}

.ghost { 
  color: #735797; 
}

.dragon { 
  color: #6F35FC; 
}

.dark { 
  color: #705746; 
}

.steel { 
  color: #B7B7CE; 
}

.fairy { 
  color: #D685AD; 
}
