body {
  background-color: slategray;
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

canvas {
  image-rendering: pixelated;
}

.game-container {
  position: relative;
  display: inline-block;
}

.battle-overlay {
  position: absolute;
  pointer-events: none;
  background-color: black;
  opacity: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}